cliente_connect/65fXVINkTmdH1ndd.json
{
  "createdAt": "2025-03-05T00:09:30.034Z",
  "updatedAt": "2025-03-05T00:09:30.034Z",
  "id": "65fXVINkTmdH1ndd",
  "name": "My workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1260,
        420
      ],
      "id": "52a27120-66d3-4264-aaf9-54fadde6090f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM public.\"DadosLeads\"\nWHERE \"id_agendamento\" IS NOT NULL \nAND TRIM(\"id_agendamento\") <> '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1040,
        420
      ],
      "id": "08439b85-8b29-44ac-9cd6-1d21c40fdf89",
      "name": "Fetch Scheduled Leads",
      "credentials": {
        "postgres": {
          "id": "8r0eU4HHjh6sf4sO",
          "name": "Postgres - Connecta"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4034f06-c830-4dde-a13a-0b5f4af0edf9",
              "leftValue": "={{ $json.dataConsulta }}",
              "rightValue": "={{ new Date(new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Sao_Paulo\"})).getTime() - (3 * 60 * 60 * 1000)).toISOString().replace(/\\.\\d{3}Z$/, 'Z') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -820,
        420
      ],
      "id": "c1b78a7c-b575-4442-b1db-9d1c7a22f145",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ new Date(new Date($json.dataConsulta).getTime() - (2 * 24 * 60 * 60 * 1000)).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Sao_Paulo\"})).getTime() - (3 * 60 * 60 * 1000)).toISOString().replace(/\\.\\d{3}Z$/, 'Z').split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c09772ff-eae6-422f-9c68-a2fe267bacae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Faltam 2 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d44cf5d-29c7-4649-a505-6f2d2aa73c1b",
                    "leftValue": "={{ new Date(new Date($json.dataConsulta).getTime() - (24 * 60 * 60 * 1000)).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Sao_Paulo\"})).getTime() - (3 * 60 * 60 * 1000)).toISOString().replace(/\\.\\d{3}Z$/, 'Z').split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "É amanhã"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52814282-1313-45af-a7c1-58271e57f501",
                    "leftValue": "={{ new Date(new Date($json.dataConsulta).getTime()).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Sao_Paulo\"})).getTime() - (3 * 60 * 60 * 1000)).toISOString().replace(/\\.\\d{3}Z$/, 'Z').split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "É hoje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -600,
        420
      ],
      "id": "ef732f57-5d09-48b1-941d-970fc586b889",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "48bc2f25-76f6-4b81-a5b2-b784b5609fed",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message }}",
            "session_id": "={{ $('Get Lead Data').item.json.session_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        600,
        240
      ],
      "id": "876a8dc9-5309-4788-acb1-bd4c46322d05",
      "name": "UpdateChatHistory"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: {\n        type: \"ai\",\n        content: $input.first().json.message.extendedTextMessage.text, // Pegando o campo 'message' vindo do nó SetJSON\n        tool_calls: [],\n        additional_kwargs: {},\n        response_metadata: {},\n        invalid_tool_calls: []\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        240
      ],
      "id": "7df3ccf9-a445-4647-9649-668fbee5b827",
      "name": "setObject"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://server01.uazapi.dev/message/sendText/AulaComunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "QW3U-O4K0-K2VG-0EHR"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Olaa {{ $json.userName }}! Passando para lembrar que sua consulta é depois de amanhã ✅\n\nAguardamos você 👋"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        240
      ],
      "id": "a8c015e1-70c0-461e-b4f0-5b524e32de7e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "DadosLeads",
          "mode": "list",
          "cachedResultName": "DadosLeads"
        },
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        240
      ],
      "id": "a43c9799-3b77-4478-8d3b-c555acefd9c3",
      "name": "Get Lead Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        160
      ],
      "id": "28f37137-1edc-4ece-8012-a58ebf30fe25",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -40,
        420
      ],
      "id": "93cf14ee-0e1c-42a3-b183-7fc3a9122618",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message }}",
            "session_id": "={{ $('Get Lead Data1').item.json.session_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        640
      ],
      "id": "82837c51-e092-4594-8f44-9982a70afe8e",
      "name": "UpdateChatHistory1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: {\n        type: \"ai\",\n        content: $input.first().json.message.extendedTextMessage.text, // Pegando o campo 'message' vindo do nó SetJSON\n        tool_calls: [],\n        additional_kwargs: {},\n        response_metadata: {},\n        invalid_tool_calls: []\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        640
      ],
      "id": "ccc0ca36-0711-440e-a780-1e70189201e6",
      "name": "setObject1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://server01.uazapi.dev/message/sendText/AulaComunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "QW3U-O4K0-K2VG-0EHR"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Olaa {{ $json.userName }}! Passando para lembrar que sua consulta é amanhã ✅\n\nAguardamos você 👋"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        640
      ],
      "id": "e1983fb4-bd12-406c-be02-8b0019ee8d76",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "DadosLeads",
          "mode": "list",
          "cachedResultName": "DadosLeads"
        },
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        640
      ],
      "id": "a44a291d-b517-4e3d-b4a9-ec527669d249",
      "name": "Get Lead Data1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        580
      ],
      "id": "2a240341-574d-4fd9-b2f3-8b65c533f3d7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -20,
        820
      ],
      "id": "1719ed01-7a05-40a5-9bde-a8fd2b34809c",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message }}",
            "session_id": "={{ $('Get Lead Data2').item.json.session_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        580,
        1060
      ],
      "id": "e43441d2-3c81-46c3-87d9-d38f540219d2",
      "name": "UpdateChatHistory2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: {\n        type: \"ai\",\n        content: $input.first().json.message.extendedTextMessage.text, // Pegando o campo 'message' vindo do nó SetJSON\n        tool_calls: [],\n        additional_kwargs: {},\n        response_metadata: {},\n        invalid_tool_calls: []\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        1060
      ],
      "id": "ea9bc229-5fdc-4db7-8dc9-98e1de8b4536",
      "name": "setObject2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://server01.uazapi.dev/message/sendText/AulaComunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "QW3U-O4K0-K2VG-0EHR"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Olaa {{ $json.userName }}! Passando para lembrar que sua consulta é hoje ✅\n\nAguardamos você 👋"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        1060
      ],
      "id": "55363bc4-7900-4c21-b747-f9dd8c730de1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "DadosLeads",
          "mode": "list",
          "cachedResultName": "DadosLeads"
        },
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -20,
        1060
      ],
      "id": "b7aef19d-83a6-4e92-aaa6-3fcc6b35d3e1",
      "name": "Get Lead Data2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -260,
        980
      ],
      "id": "9e9cebd4-bb8e-4023-a042-fddfcf931390",
      "name": "Loop Over Items2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Scheduled Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheduled Leads": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setObject": {
      "main": [
        [
          {
            "node": "UpdateChatHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "setObject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setObject1": {
      "main": [
        [
          {
            "node": "UpdateChatHistory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "setObject1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Data1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Lead Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setObject2": {
      "main": [
        [
          {
            "node": "UpdateChatHistory2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "setObject2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Data2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Lead Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "68fbabca-f815-40dc-b137-78da0de76f47",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-02-23T19:24:43.866Z",
      "updatedAt": "2025-02-23T19:24:43.866Z",
      "id": "uIveJ79gvS55fbbZ",
      "name": "Aulas"
    }
  ]
}