cliente_connect/C30GAH42HxTblLRR.json
{
  "createdAt": "2025-03-14T00:12:35.624Z",
  "updatedAt": "2025-03-18T20:25:35.752Z",
  "id": "C30GAH42HxTblLRR",
  "name": "Fluxo Base de Whatsapp - D21D",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "SETAR VARÍÁVEIS\n",
        "height": 520,
        "width": 1940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1860,
        -320
      ],
      "id": "aaf6de75-0b31-4f9f-a6d9-7c3327177f32",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d21d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        -120
      ],
      "id": "b24609b2-dfa2-49b4-9a30-c836d8009f98",
      "name": "Webhook",
      "webhookId": "43605103-f50c-4293-86a4-8a12ce130726"
    },
    {
      "parameters": {
        "content": "FILTROS\n",
        "height": 520,
        "width": 1020,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -320
      ],
      "id": "692403a2-7f0c-4819-bd8a-ee2234abe49b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "197d384d-c4c1-40d0-8ee2-b62e5af3c05c",
              "name": "userName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "57233cf4-2452-4455-bccb-ea83e9fca64e",
              "name": "userNumber",
              "value": "={{ $json.body.sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "e78ef7e8-a0c9-4350-9060-93e503e6e16c",
              "name": "messageSender",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}\n\n",
              "type": "string"
            },
            {
              "id": "11c94d0a-7238-4e75-b0d4-ce004f01a53b",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe ? 'outgoing' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "9fa17f5a-6ea4-47b4-b2ba-f419fa32bd1d",
              "name": "messageContent",
              "value": "={{ $json.body.data.message.audioMessage.mimetype }}",
              "type": "string"
            },
            {
              "id": "05a34ef6-b52f-47be-a05c-a43422685f91",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "729b66e5-b9c6-4e33-a24f-206f7d46f3f4",
              "name": "messageID",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "03ccb2c8-2b94-4bd4-90f0-de118a00706f",
              "name": "messageTimestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "54ca0173-3d29-40a9-83e5-91ffe2f68580",
              "name": "messageMimetype",
              "value": "={{ $json.body.data.message.audioMessage.mimetype }}",
              "type": "string"
            },
            {
              "id": "a10a52fe-1469-4c41-a789-29ddeafdebf0",
              "name": "messageTimeOut",
              "value": "10",
              "type": "string"
            },
            {
              "id": "1ae0bf16-ba78-402d-bfe1-91315cc3cf1f",
              "name": "messageAtendimentoHumano",
              "value": "720",
              "type": "string"
            },
            {
              "id": "ec98d971-219d-47be-80af-d1c8d389d3cc",
              "name": "apiToken",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "8bee3b72-d27c-4427-883e-823de5e9bd86",
              "name": "apiBaseURL",
              "value": "https://primary-production-1821.up.railway.app",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        -120
      ],
      "id": "5cf627eb-e32d-445a-aaa5-833f5b25cd87",
      "name": "SET_VARIAVEIS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e543a6db-34dd-4dc7-bfe2-bac2b5d0a614",
              "leftValue": "={{ $('SET_VARIAVEIS').item.json.fromMe }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        -120
      ],
      "id": "c7e382b7-268f-4ec9-b5d7-6ece3e0f8ac0",
      "name": "INCOMING?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=atendimento:{{ $('INCOMING?').item.json.userNumber }}",
        "value": "true",
        "expire": true,
        "ttl": "={{ $('SET_VARIAVEIS').item.json.messageAtendimentoHumano }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        40
      ],
      "id": "2b89a56e-cd4e-4ad0-9d02-15767dcb149d",
      "name": "SET_ATENDIMENTO",
      "credentials": {
        "redis": {
          "id": "68kS7JueUisb4P6J",
          "name": "Redis - d21d"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "atendimento",
        "key": "=atendimento:{{ $('SET_VARIAVEIS').item.json.messageSender }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        540,
        -280
      ],
      "id": "e7fc5866-70ef-4110-ac34-c45f6d9ab3ab",
      "name": "GET_ATENDIMENTO",
      "credentials": {
        "redis": {
          "id": "68kS7JueUisb4P6J",
          "name": "Redis - d21d"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4a279cb-3b64-410b-a8b9-873e10acbdd6",
              "leftValue": "={{ $json.atendimento }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        -280
      ],
      "id": "99c21a6b-6973-4273-9398-fc726048a874",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        40
      ],
      "id": "6870a423-4076-49fc-8e8a-ce6e5054e3c9",
      "name": "ESPERAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ce32791-d1f5-41f7-9bb8-3eb1e1097575",
              "name": "base64",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        -280
      ],
      "id": "51f60788-3f85-4afe-84de-036b904bd287",
      "name": "EXTRAI_BASE64"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "49e69490-7950-4c8b-ad0d-99d706bc0537"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87508378-704a-4b8c-82bc-9d64696c6c16",
                    "leftValue": "{{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbb1f51d-6e8b-421c-aaa6-951f9f45a867",
                    "leftValue": "{{ $json.messageType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de54aefd-528b-4f83-9aee-a7bd788d896a",
                    "leftValue": "{{ $json.messageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2fcad5f4-6332-4bc6-aeb4-9ab55e91419f",
                    "leftValue": "{{ $json.messageType }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1400,
        -160
      ],
      "id": "42b3f8b4-87b1-444c-8bf2-ca85569a92bd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audioOGG",
          "mimeType": "=audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1000,
        -280
      ],
      "id": "4fd7b155-22fd-4de5-bb48-739389c5ed26",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -360,
        -160
      ],
      "id": "780edf01-d722-4ab5-bf9d-87af7e16faf2",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -820,
        -280
      ],
      "id": "0b31d863-6693-40f7-84d0-9b0790346360",
      "name": "TRANSCREVER_AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "Ug76Jt0WOP7E4x1r",
          "name": "OpenAi - Connecta"
        }
      }
    },
    {
      "parameters": {
        "content": "TRANSCRIÇÃO BASE64 - EVOLUTION\n",
        "width": 1020,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        -540
      ],
      "id": "132aeea1-8733-41cf-abdb-05eb70d0855a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e3595b1-a095-4762-909f-e3b0a12734de",
              "name": "userMessage",
              "value": "={{ $json.payload }}",
              "type": "string"
            },
            {
              "id": "c3c040e4-465d-4de6-95a7-cd86585bb6cb",
              "name": "sessionID",
              "value": "={{ $('Switch').item.json.messageSender }}",
              "type": "string"
            },
            {
              "id": "3a19f6e5-92e9-448b-98ec-1d445466ecb6",
              "name": "messageTimestamp",
              "value": "={{ $('Switch').item.json.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "3727f105-a785-48f7-a34a-f4175918cd61",
              "name": "messageID",
              "value": "={{ $('Switch').item.json.messageID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -120
      ],
      "id": "df2f2cca-4bc7-4833-a310-da1463af5bd0",
      "name": "SET_PAYLOAD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8161c56-ebd6-4af3-a479-57ee3f7fd968",
              "name": "payload",
              "value": "={{ JSON.stringify({ userMessage: $json.text,\nmessageTimestamp: $('SET_VARIAVEIS').item.json.messageTimestamp, messageId: $('SET_VARIAVEIS').item.json.messageID })}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -280
      ],
      "id": "9977410e-9600-4664-b87b-7592bf7c0886",
      "name": "Audio Data"
    },
    {
      "parameters": {
        "content": "ESPERANDO MENDAGEM\n",
        "height": 520,
        "width": 1180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -320
      ],
      "id": "d8a8a6b7-8a49-4b1d-bffe-47689432272b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=temporario.{{ $('SET_PAYLOAD').item.json.sessionID }}",
        "messageData": "={{ $('SET_PAYLOAD').item.json.userMessage }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1260,
        -140
      ],
      "id": "035a289b-a2a5-4d26-ae26-9da997b0e046",
      "name": "PUSH",
      "credentials": {
        "redis": {
          "id": "68kS7JueUisb4P6J",
          "name": "Redis - d21d"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messagens",
        "key": "=temporario.{{ $('SET_PAYLOAD').item.json.sessionID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1440,
        -140
      ],
      "id": "4e8f684b-6e04-45b6-97d0-a6f816d27227",
      "name": "GET",
      "credentials": {
        "redis": {
          "id": "68kS7JueUisb4P6J",
          "name": "Redis - d21d"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messagens?.first() || '{}').messageId }}",
                    "rightValue": "={{ $('SET_VARIAVEIS').item.json.messageID }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "cc9fe878-645b-44d0-8e5f-c53ecf9e9863"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5830cee-4806-44c6-9c32-78ad726edc91",
                    "leftValue": "={{DateTime.fromSeconds(JSON.parse($json.messagens?.last() || '{}').messageTimestamp)}}\n",
                    "rightValue": "={{$now.minus(15, seconds)}}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1620,
        -140
      ],
      "id": "4b45c55b-4ae7-4395-8bc2-65d10e52eaa3",
      "name": "SWITCH_BUFFER"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SET_VARIAVEIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_VARIAVEIS": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INCOMING?": {
      "main": [
        [
          {
            "node": "GET_ATENDIMENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_ATENDIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_ATENDIMENTO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "PUSH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ESPERAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAI_BASE64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "EXTRAI_BASE64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "TRANSCREVER_AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SET_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCREVER_AUDIO": {
      "main": [
        [
          {
            "node": "Audio Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_PAYLOAD": {
      "main": [
        [
          {
            "node": "INCOMING?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUSH": {
      "main": [
        [
          {
            "node": "GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "main": [
        [
          {
            "node": "SWITCH_BUFFER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-1821.up.railway.app",
            "user-agent": "axios/1.7.9",
            "content-length": "977",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "146.190.59.46",
            "x-forwarded-host": "primary-production-1821.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-west1",
            "x-railway-request-id": "s7uDEsvdTN2MEEJBUzEbiA_603909319",
            "x-real-ip": "146.190.59.46",
            "x-request-start": "1742329452620"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Ofir",
            "data": {
              "key": {
                "remoteJid": "5511985401987@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0AEB9742560838CB022"
              },
              "pushName": "Dival S Filho 😎",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Boa Tarde!!",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "1Ap1zzec0Ceisg==",
                    "senderTimestamp": "1741317792",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "uW1XRMx6LXFzNw==",
                    "recipientTimestamp": "1742009060"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "sXY9uLP9GvcoCHSP6f6ebpq/bfmdJXlBDjaX7BolfEM="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1742329452,
              "instanceId": "1f617cf7-0352-442c-8759-1dd6a92b586c",
              "source": "web"
            },
            "destination": "https://primary-production-1821.up.railway.app/webhook-test/d21d",
            "date_time": "2025-03-18T17:24:12.509Z",
            "sender": "5511932081209@s.whatsapp.net",
            "server_url": "https://dinastia-evolution.lfigsi.easypanel.host",
            "apikey": "199604EDFDB7-477B-9F21-8DB8DB4A060D"
          },
          "webhookUrl": "https://primary-production-1821.up.railway.app/webhook-test/d21d",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "2d55b3eb-8973-4bf3-a3a9-55fe65d9cd3e",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-10T16:43:32.633Z",
      "updatedAt": "2025-03-10T16:43:32.633Z",
      "id": "L307GdwEDRROFLG5",
      "name": "Criador Digital"
    },
    {
      "createdAt": "2025-03-17T19:34:03.740Z",
      "updatedAt": "2025-03-17T19:34:03.740Z",
      "id": "M3oF1hF2pAN9SLRE",
      "name": "D21D"
    }
  ]
}