cliente_connect/jT5OudgqxeGtiJ61.json
{
  "createdAt": "2025-03-03T20:20:45.634Z",
  "updatedAt": "2025-03-04T01:47:01.372Z",
  "id": "jT5OudgqxeGtiJ61",
  "name": "#10 Tool | Update Event",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "newDate"
            },
            {
              "name": "sessionID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        -320
      ],
      "id": "0b7c2a35-4b05-4437-b066-bbc190cb8235",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.sessionID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -700,
        -320
      ],
      "id": "c1bde13a-bab7-4900-8d9c-1eff6dbab6da",
      "name": "Fetch Data Lead",
      "credentials": {
        "postgres": {
          "id": "8r0eU4HHjh6sf4sO",
          "name": "Postgres - Connecta"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cal.com/v2/bookings/{{ $('Fetch Data Lead').item.json.id_agendamento }}/reschedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $('Ajustar Fuso + 3').item.json.start }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -320
      ],
      "id": "ab200fea-04bd-4283-8467-46e59134492d",
      "name": "Reagendamento"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      start: new Date(\n        new Date($('When Executed by Another Workflow').first().json.newDate).getTime() + 3 * 60 * 60 * 1000\n      )\n        .toISOString()\n        .split('.')[0] + 'Z'\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -320
      ],
      "id": "139b6a5a-b9f6-4047-b6ae-8824f368ac80",
      "name": "Ajustar Fuso + 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f96928f-ac53-4ef8-9ee7-ef401757a2a4",
              "name": "messageToolassistant",
              "value": "=A consulta com {{ $json.userName }}, foi atualizada com sucesso para {{ $('When Executed by Another Workflow').item.json.newDate }}!!!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -320
      ],
      "id": "ef4d1d96-9380-44db-a46d-c64141322190",
      "name": "End Tool"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('When Executed by Another Workflow').item.json.sessionID }}",
            "id_agendamento": "={{ $json.data.uid }}",
            "dataConsulta": "={{ $('When Executed by Another Workflow').item.json.newDate }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "blocked_user",
              "displayName": "blocked_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_agendamento",
              "displayName": "id_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataConsulta",
              "displayName": "dataConsulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -320
      ],
      "id": "a5f180d4-feed-47ce-8e6e-bf5ecb07e2a5",
      "name": "Update DB",
      "credentials": {
        "postgres": {
          "id": "8r0eU4HHjh6sf4sO",
          "name": "Postgres - Connecta"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cal.com/v2/bookings/{{ $('Fetch Data Lead').item.json.id_agendamento }}/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        -320
      ],
      "id": "bfa6d31b-6a80-40b4-983d-49817d58bea9",
      "name": "Delete Previous Event"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch Data Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data Lead": {
      "main": [
        [
          {
            "node": "Ajustar Fuso + 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajustar Fuso + 3": {
      "main": [
        [
          {
            "node": "Delete Previous Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagendamento": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "End Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Event": {
      "main": [
        [
          {
            "node": "Reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "newDate": "2025-03-07T10:30:00Z",
          "sessionID": "5511985401987@s.whatsapp.net"
        }
      }
    ]
  },
  "versionId": "5033cf9e-02ab-41d5-ab26-f0513df97582",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-02-23T01:30:59.233Z",
      "updatedAt": "2025-02-23T01:30:59.233Z",
      "id": "thDtb8RvQxDeQCV4",
      "name": "Aula"
    }
  ]
}