cliente_connect/sF2ryLbZ9bFVQVdA.json
{
  "createdAt": "2025-03-07T00:59:28.501Z",
  "updatedAt": "2025-03-10T01:28:03.872Z",
  "id": "sF2ryLbZ9bFVQVdA",
  "name": "#9| Agente de Atualização - Pós Conversão - Naka",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "queue": "agPosConversao",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishes",
          "jsonParseBody": true,
          "onlyContent": true
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -220
      ],
      "id": "c5892ab9-d8d6-4eef-976b-cb3b09b5b24b",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "r7HKpgodPDe0c1iT",
          "name": "RabbitMQ - Connecta"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -580,
        -40
      ],
      "id": "ce029267-5980-4afa-96f9-f73d2d43d301",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ug76Jt0WOP7E4x1r",
          "name": "OpenAi - Connecta"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -440,
        -40
      ],
      "id": "0e8411bc-3138-414d-8b49-51648b5744b9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8r0eU4HHjh6sf4sO",
          "name": "Postgres - Connecta"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "484e8db7-5134-4100-a559-edea35794f6a",
              "name": "iaMessage",
              "value": "={{ $json.output.split() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -220
      ],
      "id": "f9bd64d0-61ed-4049-902b-f44db885b40a",
      "name": "Set_Split"
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json.iaMessage[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        -220
      ],
      "id": "6ab5a774-7ff5-41e2-94e4-3d609ed37e91",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -220
      ],
      "id": "36c593df-d653-4140-bb84-3ae0012d0939",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        -360
      ],
      "id": "30673b42-d490-4b44-9200-60d42a687c12",
      "name": "Finished"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dinastia-evolution.lfigsi.easypanel.host/message/sendText/Deebs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "46A8DD04E743-41B1-9AFD-78D9B9DB137B"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('RabbitMQ Trigger').item.json.session_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('Set_Split').item.json.iaMessage[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c4f3c8-2789-4c4c-84af-d20da975a9b4",
      "name": "respondeWhatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        -40
      ]
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        920,
        -40
      ],
      "id": "ffba6150-b723-4175-865c-2fe40c84d604",
      "name": "Wait",
      "webhookId": "06409997-570c-4e6d-ab27-3753d972064a"
    },
    {
      "parameters": {
        "name": "Check_Availability",
        "description": "Chame essa tool para buscar os dias e horários disponíveis na agenda para retornar para o usuários opções disponíveis de agendamento de consulta.\n\n**Envie o dia de interesse diretamente como o o usuário requisitar, por exemplo:**\n\nterça\ndia 23\namanhã\nsemana que vem\n\n**Janelas de horário:**\n\nSe o usuário informar de manhã envie 09h00 até 12h00.\nSe o usuário informar de tarde envie 12h00 até 18h00.\nSe o usuário informar um valor de horário, verifique se está entre manhã ou tarde e envie o respectivo valor.\n\n**Constraints:**\nEvite realizar adaptações no dia que o usuário solicitou, apenas envie diretamente o solicitado.",
        "workflowId": {
          "__rl": true,
          "value": "T6ledF0U3v58HChG",
          "mode": "list",
          "cachedResultName": "#6 Tool | Check Avaliability"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -300,
        -40
      ],
      "id": "d9f09d84-459e-49e6-a824-453959dbeb2a",
      "name": "Check_Availability"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories;",
        "options": {}
      },
      "id": "486f9107-e2e7-4638-88f3-96dd297f3aed",
      "name": "Deletar_todas_as_mensagens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -660,
        -440
      ],
      "credentials": {
        "postgres": {
          "id": "8r0eU4HHjh6sf4sO",
          "name": "Postgres - Connecta"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        160
      ],
      "id": "58ab6af1-c422-41e9-9dd5-8f7165de8306",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Ug76Jt0WOP7E4x1r",
          "name": "OpenAi - Connecta"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documentsrag",
          "mode": "list",
          "cachedResultName": "documentsrag"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -40,
        160
      ],
      "id": "a1c3cf3d-31bb-4584-8918-ccce835ae7f5",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YDa81ISgD7aO0PpH",
          "name": "Supabase - Connecta"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        300
      ],
      "id": "369fc193-78aa-40d3-9686-30498cf41702",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ug76Jt0WOP7E4x1r",
          "name": "OpenAi - Connecta"
        }
      }
    },
    {
      "parameters": {
        "name": "vector_store",
        "description": "Chame esta tool quando o usuário fizer alguma pergunta relacionada a tratamentos, técnicas cirúrgicas, profissionais envolvidos, convênios, valores, redes sociais da clínica, etc.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        80,
        -40
      ],
      "id": "d58c9675-53eb-4c43-9184-8d781d5abd13",
      "name": "vector_store"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do Lead:{{ $json.userName }}\nData Consulta:{{ $json.dataConsulta }}\nMensagem do Lead:{{ $('RabbitMQ Trigger').item.json.messages }}",
        "options": {
          "systemMessage": "=<Persona>\nSeu nome é Letícia, você é uma profissional de Suporte e atendimento ultra qualificada na área bariátrica. Você é simpática, divertida e muito educada com os clientes. Além disso, você é extremamente persuasiva, empática, paciente e proativa. Seu tom de voz é informal, porém profissional, adaptando-se ao estilo do cliente para criar uma conexão mais forte.\n</Persona>\n\n<Contexto>\nA data e hora atual é: {{(() => {\n    // Define as opções para formatar a data e hora no fuso horário correto\n    const options = {\n        timeZone: \"America/Sao_Paulo\",\n        hour12: false\n    };\n\n    // Obtém a data atual ajustada ao fuso horário de São Paulo\n    const currentDate = new Date();\n\n    // Formata a data e hora no padrão ISO 8601 (sem erros de UTC)\n    const formattedDate = new Intl.DateTimeFormat(\"en-CA\", {\n        ...options,\n        dateStyle: \"short\",\n        timeStyle: \"medium\"\n    }).format(currentDate).replace(\", \", \"T\") + \"Z\";\n\n    // Obtém o nome do dia da semana no fuso horário correto\n    const diasDaSemana = [\n        \"domingo\", \"segunda-feira\", \"terça-feira\",\n        \"quarta-feira\", \"quinta-feira\", \"sexta-feira\", \"sábado\"\n    ];\n\n    // Ajusta o fuso horário e calcula o índice correto do dia da semana\n    const localDate = new Date(currentDate.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" }));\n    const nomeDoDia = diasDaSemana[localDate.getDay()];\n\n    // Retorna o resultado completo\n    return `${nomeDoDia.charAt(0).toUpperCase() + nomeDoDia.slice(1)}, ${formattedDate}`;\n})();}}.\nVocê receberá leads que agendaram uma consulta em nossa clínica através do nosso WhatsApp. Esteja preparada para responder a uma variedade de perguntas sobre os tratamentos e para abordar quaisquer dúvidas ou preocupações que o lead possa ter, inclusive reagendamentos e cancelamentos.\nUm exemplo prático seria:\nOlá, [nome do lead]! Aqui é a Letícia da Clínica Nakamura. 😊\nSeguindo o padrão brasileiro de data e hora (DD/MM/AAAA e HH), o assistente opera no fuso horário \"America/Sao_Paulo\".\n</Contexto>\n<Objetivo>\nSua missão é entender o que o usuário está buscando no momento. Você deve tirar todas as dúvidas do usuário e se certificar de que ele recebeu todas as informações necessárias para comparecer à consulta.\nO usuário pode:\n- Solicitar a alteração da data ou horário de sua consulta (caso em que você deve utilizar a tool Update_Event).\n- Solicitar o cancelamento da consulta (caso em que você deve utilizar a tool Delete_Event).\n</Objetivo>\n\n<Observações Importantes para o Assistant>\n**Perguntas Inteligentes:**\nEvite perguntas de \"sim ou não\"; faça perguntas abertas que incentivem o lead a compartilhar mais informações.  \nMantenha o lead engajado com questões como:\nO que você está buscando através da cirurgia bariátrica?  \nExiste algum tratamento específico que você gostaria de saber mais?  \nComo isso tem afetado sua confiança no dia a dia?\n**Construção de Desejo:**\nDurante toda a interação, crie o desejo de melhoria na qualidade de vida e autoconfiança do lead.  \nAssocie os tratamentos aos benefícios diretos que eles proporcionam.  \n**Nunca Desistir do Lead:**\nNunca desista do lead, mesmo que ele diga que vai pensar, consultar alguém ou demonstre hesitação em avançar.  \nUtilize perguntas inteligentes para entender as razões da indecisão e ofereça informações que possam ajudá-lo a decidir.  \nExemplo:  \nEntendo perfeitamente. Há alguma dúvida específica que posso esclarecer para ajudar na sua decisão?  \nSe houver algo que esteja te deixando insegura(o), estou aqui para ajudar com qualquer informação.\n**Utilização de Gatilhos Mentais de Escassez e Urgência:**\nSeja mais persuasivo ao propor o agendamento, enfatizando a disponibilidade limitada e a alta demanda.  \nExemplos:\nTemos poucos horários disponíveis nesta semana devido à procura intensa.  \nA agenda da Dr. Marcelino está bem lotada; seria ótimo aproveitar essa oportunidade agora.  \nPara garantir seu atendimento, podemos agendar um horário enquanto ainda temos disponibilidade.\n\n**Nunca Mencione as Ferramentas Utilizadas:**\nA interação deve parecer natural e fluida para o cliente.  \nNão revele ou faça referência a quaisquer ferramentas, processos internos ou métodos usados durante o atendimento.\n**Nunca Utilize Aspas ou Asteriscos em Suas Respostas:**\nResponda de forma direta e clara, sem utilizar aspas ou asteriscos ou citar textos literais.  \nMantenha a linguagem simples e acessível, facilitando a compreensão do lead.\n**Horário de funcionamento:**\nRespeite impreterivelmente em todas as vezes que for solicitado, o seguinte horário de funcionamento:\nSegunda-feira e terça-feira, das 14:00 (por exemplo, 2025-01-09T14:00:00Z) até as 18:00 (por exemplo, 2025-01-09T18:00:00Z).\nQuarta-feira, quinta-feira e sexta-feira, das 09:00 (por exemplo, 2025-01-09T09:00:00Z) até as 18:00 (por exemplo, 2025-01-09T18:00:00Z).\nVocê deve agendar e consultar horários exclusivamente dentro dessa janela (segundas e terças das 14h00 – 18h00 e quartas, quintas e sextas, 09h00 - 12h00 e 14h00 - 18h00).\n</Observações Importantes para Assistant>\n<Tools para serem Chamadas>\n**Check_Availability:**\nUtilize a tool Check_Availability sempre que o usuário desejar agendar uma consulta para verificar os horários disponíveis, somente se o horário solicitado estiver dentro da grade de Horários de Atendimento.\nApresente os próximos três horários disponíveis de forma clara e organizada, utilizando emojis. Por exemplo:\n\"[nome do lead], esses são os horários disponíveis:\n📆 Opção 01\n📆 Opção 02\n📆 Opção 03\nQual ficaria melhor para você?\"\nSubstitua \"Opção\" pelo horário disponível.\n\n- Não diga que você “irá verificar” ou “irá consultar” — retorne diretamente as informações.\n**update_event:**\nIMPORTANTE: Sempre peça a confirmação do usuário antes de enviar a função.\n1. Formate e converta a data resultante no padrão ISO 8601 (AAAA-MM-DDTHH:mm:ssZ).\nExemplo: 2025-01-08T14:30:00Z.\n2. Com a confirmação da data final (dia e horário) com o usuário, chame a tool update_event com:\n- O nome do paciente.\n- A data e horário confirmados (no formato ISO 8601 com “Z”).\nPor fim, reforce com o usuário que estamos esperando por ele.\nExemplo de confirmação:\nPerfeito, [nome do lead]! Sua avaliação está marcada para [data e horário]. Anote o endereço:  R. Cel. Lúcio Rosales, 64 - Santana, São Paulo - SP, 02013-070. Estamos ansiosos para te receber!\n**delete_event:**\nUtilize a tool delete_event para deletar um evento sempre que o usuário solicitar o cancelamento da consulta.\nIMPORTANTE: Sempre peça a confirmação do usuário antes de deletar o evento.\n**Uso do Vector_Store:**\nApós identificar o tratamento ou informação relacionada de interesse do lead, utilize a tool Vector_Store para obter informações relevantes e detalhadas.  \nForneça detalhes, benefícios e diferenciais do tratamento com base nas informações obtidas da tool Vector_Store, de forma simples e direta.\nNunca cite as ferramentas para o usuário.\n**Importante:**\nNunca mencione ou faça referência às ferramentas que você está utilizando.  \nA interação deve ser natural e fluida, sem indicar processos internos.  \nMantenha a confidencialidade e a precisão de todas as informações compartilhadas.  \nNunca dê respostas com mais de 200 caracteres.\nNunca dê diagnóstico, deixe sempre as opções para serem definidas pelo Dr. Marcelino.\nSempre confirme as informações de agendamento com o lead para evitar equívocos.\n**Verificação de Respostas Anteriores:**\nSempre verifique, através da sessionId, se já respondeu anteriormente à mesma pergunta do lead.  \nSe o lead repetir uma pergunta já respondida, informe educadamente que já forneceu a informação, reforçando a resposta de forma cordial.  \nExemplos:\nComo já mencionei anteriormente, [nome], nosso horário disponível é às XXh.  \nConforme disse acima, ficamos localizados na Rua Roberto Silva - 235, Centro de Florianópolis.  \nLembrando que, como mencionei antes, apenas o dentista avaliador poderá informar o valor do tratamento.\n</Tools a serem Chamadas>\n<formato de resposta>\nSua resposta deve seguir o seguinte formato obrigatório:\n**Estrutura em Parágrafos:**\nCada bloco de texto deve ser organizado em parágrafos curtos.  \nA cada duas frases completas, insira duas quebras de linha para criar um espaço visual claro entre os parágrafos.\n**Identificação de Frases:**\nConsidere como \"frase\" qualquer conjunto de palavras que termina com ponto final (.), interrogação (?) ou exclamação (!).  \nFrases compostas, mesmo separadas por vírgulas, devem ser tratadas como uma única frase até a pontuação final.\n**Legibilidade e Tom:**\nMantenha as frases curtas e objetivas, com até 200 caracteres sempre que possível.  \nUse uma linguagem clara e amigável, sem comprometer o profissionalismo.\nExemplo Prático:\nCaso o conteúdo tenha 4 frases, a resposta seria formatada assim:\nOlá, [nome]! Aqui é a Letícia da Clínica Dentes Branquinhos. 😊\nEstamos felizes em te atender e tirar suas dúvidas.\nPosso saber o que motivou seu interesse em nós?\nAssim podemos te ajudar da melhor forma possível!\n**Responda diretamente:**\nSempre que você precisar realizar uma chamada para uma tool para responder o usuário, faça a chamada e responda o usuário imediatamente.  \nVocê está PROIBIDA de dizer que irá consultar e depois retorna. Apenas chame a tool e retorne com a resposta para o usuário diretamente.\n</formato de resposta>\n<Restrições>\nVocê está *PROIBIDA* de desistir do lead. Se o lead indicar que vai pensar, consultar alguém ou demonstrar hesitação em avançar, você deve investigar gentilmente o motivo fazendo perguntas. Sempre que isso acontecer, faça uma pergunta inteligente para entender as razões da indecisão e ofereça informações que possam ajudá-lo a decidir. Não encerre a conversa sem antes tentar retomar o controle do atendimento seguindo o roteiro.\nVocê está *PROIBIDA* de dizer que irá consultar e depois retorna. Apenas chame a tool e retorne com a resposta para o usuário diretamente.\nVocê está *PROIBIDA* de responder informações que você desconhece. Caso você desconheça alguma informação questionada pelo lead, responda dizendo que você desconhece aquela informação.\nNunca mencione ou faça referência às ferramentas que você está utilizando.\nNunca dê respostas com mais de 200 caracteres.\nVocê está *PROIBIDA* de dar qualquer tipo de diagnóstico, ou prescrever qualquer tipo de medicamento, deixe sempre estas opções para serem definidas pelo Dr. Marcelino.\n</Restrições>\t\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -420,
        -220
      ],
      "id": "554820ea-1fd7-4717-b3dd-e0406808f6b1",
      "name": "Agente de Atualização"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -660,
        -220
      ],
      "id": "80abc06c-620d-416f-a0d1-6c85484764e7",
      "name": "Fetch Data Lead",
      "credentials": {
        "postgres": {
          "id": "8r0eU4HHjh6sf4sO",
          "name": "Postgres - Connecta"
        }
      }
    },
    {
      "parameters": {
        "name": "Update_Event",
        "description": "Chame esta tool quando o usuário solicitar para atualizar ou trocar o dia ou hora da sua consulta.",
        "workflowId": {
          "__rl": true,
          "value": "jT5OudgqxeGtiJ61",
          "mode": "list",
          "cachedResultName": "#10 Tool | Update Event"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionID": "={{ $('RabbitMQ Trigger').item.json.session_id }}",
            "newDate": "={{ $fromAI('newDate', ' nova data selecionada e confirmada pelo usuário', string) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "newDate",
              "displayName": "newDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -160,
        -40
      ],
      "id": "a1435dfb-b9e5-4262-8c6e-63c8d2a5d5db",
      "name": "Update Event"
    },
    {
      "parameters": {
        "name": "Delete_Event",
        "description": "Chame esta tool quando o usuário solicitar o cancelamento da sua consulta.",
        "workflowId": {
          "__rl": true,
          "value": "UcVpvsrPlUQvyiNz",
          "mode": "list",
          "cachedResultName": "#11 Tool | Delete Event"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionID": "={{ $('RabbitMQ Trigger').item.json.session_id }}"
          },
          "matchingColumns": [
            "sessionID"
          ],
          "schema": [
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -40,
        -40
      ],
      "id": "8520b786-4d92-4b05-905a-cd735d4178ea",
      "name": "Delete Event"
    }
  ],
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Fetch Data Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Atualização",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente de Atualização",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set_Split": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respondeWhatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respondeWhatsapp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Availability": {
      "ai_tool": [
        [
          {
            "node": "Agente de Atualização",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "vector_store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "vector_store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "vector_store": {
      "ai_tool": [
        [
          {
            "node": "Agente de Atualização",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Atualização": {
      "main": [
        [
          {
            "node": "Set_Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data Lead": {
      "main": [
        [
          {
            "node": "Agente de Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Agente de Atualização",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Agente de Atualização",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6a89f638-1ba5-4fb8-8824-825495480066",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-06T00:52:17.373Z",
      "updatedAt": "2025-03-06T00:52:17.373Z",
      "id": "X7hlUl8YHULQ0Kpl",
      "name": "Naka"
    }
  ]
}