cliente_connect/Wxkmjtb4xSECyc0S.json
{
  "createdAt": "2025-03-05T14:01:02.646Z",
  "updatedAt": "2025-03-06T00:13:02.583Z",
  "id": "Wxkmjtb4xSECyc0S",
  "name": "#16 | Backup Drive",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1880,
        -880
      ],
      "id": "eaaea784-a801-4e9a-9039-176aebf4bd07",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Backup:{{ (() => {\n    // Obtém a data no fuso de São Paulo e ajusta para UTC-3\n    let date = new Date(new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Sao_Paulo\"})).getTime() - (3 * 60 * 60 * 1000));\n\n    // Adiciona 3 horas\n    date.setUTCHours(date.getUTCHours() + 3);\n\n    // Se passar de 23:59, ajusta para o próximo dia e define 00:xx:xx\n    if (date.getUTCHours() >= 24) {\n        date.setUTCDate(date.getUTCDate() + 1);\n        date.setUTCHours(0);\n    }\n\n    // Retorna no formato ISO 8601 correto\n    return date.toISOString().replace(/\\.\\d{3}Z$/, 'Z');\n})() }}\n\n\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PX3AAEPm0WcifEYheyMhLtTyUJIpszY4",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1720,
        -880
      ],
      "id": "be358330-6b14-4ae5-9042-75987b5bdc5a",
      "name": "Create Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WZAmcJvNgUWCF851",
          "name": "Google Drive - Connect"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1560,
        -880
      ],
      "id": "f89589dd-aa21-4c74-a798-8afa231867ad",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "SW7HLIE98rlUySyN",
          "name": "n8n api - backup"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1400,
        -880
      ],
      "id": "72dfb2e5-5cf5-4782-9946-4a57b45ac6f8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1240,
        -880
      ],
      "id": "cfc8b59d-895d-498e-abb2-ee492d7ca6ff",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WZAmcJvNgUWCF851",
          "name": "Google Drive - Connect"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "132ce3c5-ec49-4c84-bfd9-47bcb7bcbb32",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-02-23T01:30:59.233Z",
      "updatedAt": "2025-02-23T01:30:59.233Z",
      "id": "thDtb8RvQxDeQCV4",
      "name": "Aula"
    }
  ]
}